@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

/* setup for the all elements*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: "assets/img/viajes.svg";
}